@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background: $light-gray;
    overflow-x: hidden;
}

// Headings

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
    }

    &.page-heading {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
}

// Icons 

#landing {
    position: absolute;
    top: 0;
    left: -20vw;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: $gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;

    .intro-text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
    }

    .intro-name {
        font-weight: 500;
    }
}

.page-heading {
    text-align: center;
    z-index: 1;
    visibility: visible;
    position: absolute;
    margin-right: -50%;
    left: 50%;
    transform: translate(-50%, 0);

    .heading-text {
        font-size: 4rem;
        text-decoration: none;
        position: relative;
        color: #000;
        font-weight: 400;
    }

    .heading-text::after {
        content: '';
        width: 0%;
        height: 7px;
        z-index: -1;
        background-color: lighten($dark-blue, 30);
        position: absolute;
        bottom: 0%;
        left: 50%;
        border-radius: 10px;
        transition: all 500ms ease;
    }

    .heading-text:hover::after {
        left: 0%;
        width: 100%;
        z-index: -1;
    }
}

// About

#about {
    width: 100%;
    // display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'aboutImage aboutSection aboutSection';
    grid-template-columns: repeat(3, 1fr);
    min-height: calc(100vh - 60px - 5vh);

    .page-heading-small {
        visibility: hidden;
    }

    .about-img {
        grid-area: aboutImage;
        position: relative;
        top: 0;
        left: 0;
        background: $about-image;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    .about-section {
        grid-area: aboutSection;
        margin-top: 8vh;
        max-height: 135vh;
        overflow: hidden;

        p {
            padding: 2rem 5rem 1rem 1rem;
            text-align: justify;
            font-size: 1.3rem;
        }

        .text-center {
            text-align: center;
        }

        i {
            margin: 0 0.5rem;
        }

        a {
            text-decoration: underline;
            color: #000;
            text-underline-position: under;
        }

        a:hover {
            opacity: 0.8;
            text-decoration: underline;
            text-underline-position: under;
        }
    }
}

#about::-webkit-scrollbar {
    width: 0 !important
}

// Work

#work {
    width: 100%;
    overflow-x: hidden;

    .card-container {
        padding: 25vh 15vw 5vh 15vw;
    }

    .card {
        background: #fff;
        border-radius: 20px;
        margin-bottom: 4rem;
        padding: 3rem 4rem;
        box-shadow: 0 1.4rem 0.8rem rgba(0, 0, 0, 0.2);
        transition: all 200ms ease;
        min-width: 50vw;
        display: grid;
        grid-gap: 1rem;
        grid-template-areas:
            'cardImage cardInfo cardInfo';
        grid-template-columns: repeat(3, 1fr);
        overflow-x: hidden;
        -webkit-perspective: 1;
        perspective: 1;


        .card-image {
            grid-area: cardImage;
            min-width: 50%;
            max-width: 100%;
            height: auto;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
                border-radius: 0.8rem;
            }
        }

        .card-info {
            grid-area: cardInfo;
            line-height: 1.2rem;

            .card-title {
                font-size: 2rem;
                padding-bottom: 1rem;
            }

            .card-text {
                text-align: justify;
                font-size: 1.2rem;
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row wrap;

                .btn {
                    color: #fff;
                    font-size: 20px;
                    padding: 10px 45px;
                    border: none;
                    border-radius: 25px;
                    outline: none;
                    cursor: pointer;
                    margin: 0.5rem 0.5rem;
                }

                .btn:hover {
                    transform: scale(1.01);
                    opacity: 0.9;
                    transition: all 1s ease;
                }

                .btn-github {
                    background: #000;
                }

                .btn-preview {
                    background: #56AF50;
                }
            }


        }
    }

    .card:hover {
        transform: scale(1.01);
        backface-visibility: hidden;
        transition: all 200ms ease;
    }
}

// Blog

#blog {
    width: 100%;
    overflow-x: hidden;
    max-width: 38rem;
    margin: 0 auto;
    padding: 2rem;
    min-height: calc(100vh - 60px - 5vh);

    .index {
        margin-top: 22vh;
        font-family: 'Arvo', serif;

        .year {
            font-weight: 800;
            font-size: 3rem;
            text-align: left;
        }

        .entry {
            width: 100%;
            padding: 0.5rem 0;
            font-size: 1.125rem;
            line-height: 1.6rem;
            display: flex;
            text-align: left;
            justify-content: space-between;
            flex-direction: row wrap;

            .what {
                max-width: 75%;
                text-decoration: underline;
                text-underline-position: under;
            }

            .what:hover {
                opacity: 0.8;
                cursor: pointer;
                text-decoration: underline;
                text-underline-position: under;
            }
        }

        .line-seperator {
            margin: 3rem 0;
        }
    }
}

// Template Post

#blog-post {
    width: 100%;
    overflow-x: hidden;
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    min-height: calc(100vh - 60px - 5vh);

    .post-container {
        margin-top: 1vh;
        font-family: 'Arvo', serif;

        .back-btn {
            padding-bottom: 1px;
            border-bottom: 0.5px solid black;
            font-size: 1.2rem;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        .back-btn:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .post-title {
            font-weight: bold;
            font-size: 2rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            margin: 5rem 0 1rem 0;
            text-align: center;
        }

        .post-date {
            text-align: right;
        }

        .post-content {
            width: 100%;
            margin-top: 10vh;
            text-align: justify;
            line-height: 2rem;
            font-size: 1.1rem;
        }
    }
}

// 404 Page

#not-found {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px - 5vh);
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .lost-text {
        font-weight: 400;
        font-size: 3rem;
    }
}


// Footer

.main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($color: $black, $amount: 10);
    color: #fff;
    height: 60px;
    margin-top: 5vh;
}

// ScrollBar

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

// Loader

header,
.overlay,
section,
footer {
    display: none;
}

.loader {
    margin-top: calc(50vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>span {
    background: #000;
    border-radius: 50%;
    margin: 5rem 0.5rem;
    animation: bouncingLoader 0.8s infinite alternate;
}

.loader>span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader>span:nth-child(3) {
    animation-delay: 0.4s;
}

/* Define the animation called bouncingLoader. */
@keyframes bouncingLoader {
    from {
        width: 0.1rem;
        height: 0.1rem;
        opacity: 1;
        transform: translate3d(0);
    }

    to {
        width: 1rem;
        height: 1rem;
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}


@import 'mobile';