@import 'config';
@import 'menu';

* { 
    box-sizing: border-box;
}

body {
    @include background;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background: $light-gray;
}

// Headings

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
    }

    &.page-heading {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
}

// Icons 

#landing {
    position: absolute;
    top: 0;
    left: -20vw;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: $gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;

    .intro-text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
    }

    .intro-name {
        font-weight: 500;
    }
}

.page-heading {
    text-align: center;
    z-index: 1;
    visibility: visible;
    position: absolute;
    margin-right: -50%;
    left: 50%;
    transform: translate(-50%, 0);

    .heading-text {
        font-size: 4rem;
        text-decoration: none;
        position: relative;
        color: #000;
        font-weight: 400;
    }

    .heading-text::after {
        content: '';
        width: 0%;
        height: 7px;
        background-color: lighten($dark-blue, 30);
        position: absolute;
        bottom: 0%;left: 50%;
        border-radius: 10px;
        transition: all 500ms ease;
    }

    .heading-text:hover::after {
        left: 0%;
        width: 100%;
    }
}

// About
#about {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'aboutImage aboutSection aboutSection';
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;

    .page-heading-small {
        visibility: hidden;
    }

    .about-img {
        grid-area: aboutImage;
        position: relative;
        top: 0;
        left: 0;
        background: $about-image;
        background-size: cover;
        background-repeat: no-repeat;
        height: 135vh;
    }

    .about-section {
        grid-area: aboutSection;
        margin-top: 20vh;
        height: 135vh;

        p {
            padding: 2rem 5rem 1rem 1rem;
            text-align: justify;
            font-size: 1.3rem;
        }
    }
}

// Footer

.main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($color: $black, $amount: 10);
    color: #fff;
    height: 60px;
    margin-top: 5vh;
}

@import 'mobile';